<div class="row">
<div class="col-5">
<% @cars.sort_by(&:price).each do |car| %>

       <div class="card mt-4">
        <%= cl_image_tag car.photos.first.key, height: 200, width: 100, crop: :scale, class: 'card-img-top' %>

        <div class="card-body">
        <h5 class="card-title"> <%= car.model %> </h5>
        <p class="card-text"><strong> <%= car.price %> </strong></p>
        <%= link_to "Check out the car!", car_path(car) %>
        </div>
        </div>

<% end %>
</div>
<div class="col-7">
<div id="map"
       style="width: 100%; height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
</div>

