<div class="row">
<% @cars.sort_by(&:price).each do |car| %>
    <div class="col-sm-4">
       <div class="card mt-4">
        <%= cl_image_tag car.photos.first.key, height: 200, width: 100, crop: :scale, class: 'card-img-top' %>

        <div class="card-body">
        <h5 class="card-title"> <%= car.model %> </h5>
        <p class="card-text"> <%= car.description %> </p>
        <p class="card-text"><strong> <%= car.price %> </strong></p>
        <%= link_to "Check out the car!", car_path(car) %>
        </div>
        </div>
    </div>
<% end %>
</div>
