<div class="cards-container">
<h1>Search Results for "<%= @parameter %>" </h1>
<br/>
<div class="btn-group">
  <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sorted By
  </button>

<!--  <% def ascending() %>
    <%= render "/shared/ascendingcars" %>
  <% end %>

  <% def descending() %>
    <%= render "/shared/descendingcars" %>
  <% end %>
-->


  <div class="dropdown-menu">


  <%= button_tag "Price Down", type: 'button', onclick: "descending()", class: 'dropdown-item' %>
  <%= button_tag "Price Up ", type: 'button', onclick: "ascending()", class: 'dropdown-item' %>
<!--
     <a class="dropdown-item" onclick="descending()">Price Down</a>
    <a class="dropdown-item" onclick="ascending()">Price Up </a>
    -->
  </div>
  <div style="position:relative;top:2px;left:20px",class="container">
  <%= form_tag(search_page_path, :method => "get") do %>
    <div class="input-group md-form form-sm form-2 pl-0" >
      <%= search_field_tag :search, params[:search], placeholder: "New Search", class: "form-control border border-primary" %>
     <!-- <div class="input-group-btn">--> 
      <span class="p-1 mb-1 bg-light">
      <%= button_tag "", :class => 'btn fas fa-search text-grey ',:name => nil%>
      </span>
    
    </div>
    <% end %>
    </div>
    

</div>
  <div>
    <div id="content" class="container">
    <%= render "/shared/ascendingcars" %>
    </div>

  <!--
  <%= render "shared/ascendingcars" if @ascendingcars %>
  <%= render "shared/descendingcars" unless @ascendingcars %>
  -->


  </div>

</div>


