<div class="container">
  <h1 class="title">Rent your car!</h1>
  <%= simple_form_for @car do |f| %>
    <div class="form-group ml-1 mb-5 px-5">
      <%= f.input :model, class: 'form-control' %>
      <br>
      <%= f.input :category, class: 'form-control'%>
      <br>
      <%= f.input :description %>
      <br>
      <%= f.input :price, as: :numeric %>
      <br>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <br>
      <%= f.submit "Submit", class: "btn btn-blue" %>
    </div>
  <% end %>
</div>
