<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <% @car.photos.each.with_index do |photo, i| %>
      <li data-target="#myCarousel" data-slide-to="<%= i %>" class="<%= 'active' if i == 0 %>"></li>
    <% end %>
  </ol>

  <div class="carousel-inner">
    <% @car.photos.each.with_index do |photo, i| %>
      <div class="carousel-item <%= 'active' if i == 0 %>">
        <%= cl_image_tag photo.key %>
      </div>
    <% end %>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="container">
  <h1 class="title"><%= @car.model %></h1>
  <h3 class="description"><%= @car.description %></h3>
  <h2 class="price">$<%= @car.price %> / day</h2>
  <div class="d-flex justify-content-between mb-2">

  <div class="card" style="width: 40%;">
  <% if @car.photos.attached? %>
    <%= cl_image_tag @car.photos.first.key, height: 200, width: 100, crop: :scale, class: 'card-img-top' %>
  <% else %>
    <img class="card-img-top" src="https://d1zgdcrdir5wgt.cloudfront.net/media/vehicle/images/7c0IdMWbT7WJG_X4DFCZuw.1440x700.jpg" alt="Card image cap">
  <% end %>
    <div class="card-body">
    <h5 class="card-title"><%= @car.model %></h5>
    <p class="card-text"><%= @car.description %></p>
    </div>
  <ul class="list-group list-group-flush">
  <li class="list-group-item"><%= @car.category %></li>
  <li class="list-group-item">Price: <%= @car.price %> /Day</li>
  <li class="list-group-item"><%= @car.address %></li>
  </ul>
  <div class="card-body d-flex justify-content-between">

  <%= simple_form_for([ @car, @contract ]) do |f| %>
    <%= f.submit "Book!" %>
  <% end %>

  <%= link_to "Cancel", "/pages/home", class: "btn btn-secondary" %>
  </div>
  </div>
  <%= link_to "Go back for a new search", search_page_path, class: "btn btn-secondary" %>
  </div>
</div>
